<h2>DESCRIPTION</h2>

In LiDAR terrain models, there are often man-made barriers (like roads or railroad 
tracks) that are obstacles to hydrologically correct extraction of streams 
(e.g. <a href="r.stream.extract.html"><em>r.stream.extract
</em></a>, <a href="r.watershed.html"><em>r.watershed</em></a>).
Here, <em>r.stream.culvert</em> is intended as a fist step in hydrological 
correction of LiDAR terrain models.
<p>
<em>r.stream.culvert</em> generates lines that connect sinks that are larger 
than the user given minimum sink size (<b>min_sink_size</b>) and channel 
structures in the terrain model that are larger than the user defined minimum size 
(<b>minsize</b>) and that are below the respective sink. These lines represent 
e.g. culverts and are supposed to be carved through man-made barriers with 
<a href="r.stream.extract.html"><em>r.stream.carve</em></a>.
</p>

<h2>REQUIREMENTS</h2>
The module has the following non-standard requirements:
<ul>
<li>python-igraph</li>
<li>SQLite version >= 3.25</li>
<li>GRASS GIS >= 7.8</li>
</ul>

<h2>EXAMPLE</h2>
TBD

<h2>SEE ALSO</h2>

<em>
<a href="r.geomorphon.html">r.geomorphon</a>,
<a href="r.terraflow.html">r.terraflow</a>,
<a href="v.distance.html">v.distance</a>,
<a href="r.stream.carve.html">r.stream.carve</a>,
<a href="r.hydrodem.html">r.hydrodem</a>,
<a href="r.fill.dir.html">r.fill.dir</a>
</em>

<h2>AUTHORS</h2>

Stefan Blumentrath, Norwegian Institute for Nature Research (<a href="https://www.nina.no/">NINA</a>), Oslo, Norway<br>
Written for the INVAFISH project (RCN MILJ&Oslash;FORSK grant 243910)
